body {
  background-color: rgb(174, 179, 156);
  font-family: Arial;
  font-size: 20px;
}

h1 {
  font-size: 30px;
}

.first {
  color: red;
}

.second {
  color: rgb(0, 255, 98);
}

.third {
  color: brown;
}

#your-name {
  background-color: rgb(238, 200, 129);
  border: 3px solid #ec1414;
}
